openapi: '3.0.2'
info:
  title: Gravitate Health FOSPS - AI Service
  version: '1.0'
servers:
- url: https://gravitate-health.lst.tfo.upm.es
  description: "Development Server"
paths:
  /ai/summary:
    get:
      tags:
      - Lenses
      description: 'Request for a summary of an ePI using LLM AI'
      parameters:
      - $ref: '#/components/parameters/epi'
      - $ref: '#/components/parameters/preprocessors'
      - $ref: '#/components/parameters/patientIdentifier'
      - $ref: '#/components/parameters/lenses'
      - $ref: '#/components/parameters/model'
      responses:
        '200':
          description: OK
          $ref: "#/components/responses/summaryResponse"
        '500':
          description: Internal Server Error
    post:
      tags:
      - Lenses
      description: 'Request for a summary of an ePI using LLM AI'
      parameters:
      - $ref: '#/components/parameters/preprocessors'
      - $ref: '#/components/parameters/lenses'
      - $ref: '#/components/parameters/model'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                epi:
                  type: object
                ips:
                  type: object
      responses:
        '200':
          description: OK
          $ref: "#/components/responses/summaryResponse"
        '500':
          description: Internal Server Error

components:
  parameters:
    epi:
      name: epi
      in: path
      description: 'ePI to summarize'
      required: true
      schema:
        type: string
    preprocessors:
      name: preprocessors
      in: query
      description: 'Preprocessors to apply to the ePI'
      required: true
      schema:
        type: string
    patientIdentifier:
      name: patientIdentifier
      in: query
      description: 'Patient identifier'
      required: true
      schema:
        type: string
    lenses:
      name: lenses
      in: query
      description: 'Lenses to apply to the ePI (only lens-summary and lens-summary-2 are available)'
      required: true
      schema:
        type: string
    model:
      name: model
      in: query
      description: 'Model to use for the summary'
      required: true
      schema:
        type: string
  responses:
    summaryResponse:
      description: 'Summary response'
      content:
        application/json:
          schema:
            type: object
            properties:
              resourceType:
                type: string
                example: 'Composition'
              id:
                type: string
                example: 'summary'
              status:
                type: string
                example: 'final'
              type:
                type: object
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                          example: 'http://loinc.org'
                        code:
                          type: string
                          example: '11488-4'
                        display:
                          type: string
                          example: 'Consult note'
              category:
                type: array
                items:
                  type: object
                  properties:
                    coding:
                      type: array
                      items:
                        type: object
                        properties:
                          system:
                            type: string
                            example: 'http://terminology.hl7.org/CodeSystem/observation-category'
                          code:
                            type: string
                            example: 'LPL183761-8'
                          display:
                            type: string
                            example: 'Report'
              author:
                type: array
                items:
                  type: object
                  properties:
                    display:
                      type: string
                      example: 'GH lens'
              date:
                type: string
                example: '2021-06-01T00:00:00Z'
              title:
                type: string
                example: 'Summary'
              note:
                type: array
                items:
                  type: object
                  properties:
                    text:
                      type: string
                      example: 'Summary of the ePI'
              section:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                      example: 'Summary'
                    text:
                      type: object
                      properties:
                        div:
                          type: string
                          example: '<div xmlns="http://www.w3.org/1999/xhtml">Summary of the ePI</div>'
                        status:
                          type: string
                          example: 'generated'
                    code:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              system:
                                type: string
                                example: 'http://loinc.org'
                              code:
                                type: string
                                example: '11488-4'
                              display:
                                type: string
                                example: 'Consult note'
